
p {
    font-family: 'Economica', sans-serif;
    margin-left: 1.66%;
    font-size: 3em;
    border-bottom: 3px solid black;
    padding-bottom: 20px;
}
img {
    width: 30%;
    float: left;
    margin: 1.66%;
}